/*.login-dialog{
	max-width: 400px;
}*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	margin-bottom: 0px;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
/*.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}*/
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
    border-color: #00c0ef;
    box-shadow: 0 0 4px #00c0ef;
}
.btn-login {
	background-color: #337ab7;
    outline: none;
    color: #fff;
    font-size: 15px;
    height: auto;
    font-weight: bold;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #00c0ef;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
    background-color: #00c0ef;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/*Estilo para Buscador de documentos*/
.abc {
	margin-top:10px;
	margin-bottom: 10px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
}

#letra {
	font-size:2em;
	cursor:pointer;
	padding: 0px 3px; 
	color: #3c763d; 
}
#letra:hover,
#letra:focus {
	color: #fff;
	text-decoration-line: underline;
}
.abc .active{
	color: #fff !important;
	text-decoration-line: underline;
}
/*Para Info User*/
.t_info {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 8.5px;
    top: 34px;
    z-index: 1002;
    height: 0;
    width: 0;

}
.open>.t_info {
    display: block;
}
.t_info_s {
    border-color: transparent;
    border-bottom-color: #373941;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 8.5px;
    top: 33px;
    z-index: 1001;
    height: 0;
    width: 0;

}
.open>.t_info_s {
    display: block;
}
.navbar-nav .info_ul{
	right: 0;
	top: 140%;
	left: auto;
}