body{
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	/*font-family: "Bahnschrift", Helvetica;*/
	font-family: "arial", sans-serif;
	font-size: 16px;
	background-color: #eaeaea;
}
header{
	background-image:url(../img/frontend/bg-header.png);
	background-color: #FFF;
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
	text-align: left;
	max-height: 150px;
	padding-bottom: 20px;
}

/*Responsive Jsoft*/
/*header.active .nav-h{
	width: 100%;
	right: 0;
}
header.active .logo{
	background: #fff;
	padding:.5em;
	width: 17%;
	max-width: 500px;
	margin: 0;
	z-index: 5;
	position: fixed;
	left: 0;
	text-align: right;
}



header.active h2{
	top: 27px;
	position:fixed;
	font-size: 25px;
	margin: 0px;
	left: 18%;
	max-width: 624px;
	z-index: 5;
}
header.active .logo_otca{position: fixed;max-width: 265px;right: 9%;top: 31px;z-index: 5;}

header.active .fondo-header-active {position: fixed;top: 0;right: 0;background: #1d5440;width: 85%;text-align: right;height: 92px;z-index: 4;display: block;}
/*Modificado JM*
.active-nav {
    position: fixed;
    top: 85px;
    width: 100%;
    z-index: 10;
    /* max-width: 1140px; *
    /* padding-left: 0px; *
}*/
/*Modificado JM*/
/*.active-nav{
	position:fixed;
	top: 28px;
	width: 1140px;
	z-index:100;
	max-width: 1140px;
	padding-left: 134px;
}*/
/*Responsive Jsoft*/

img{
	max-width: 100%;
}

/*header.active img {
    max-width: 110px;
}*/

.logo{
	max-width: 190px;
	margin-left: 0%;
	z-index: 4;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}

/*header.active .nav-h {
    position: fixed;
    top: 0;
    right: 0;
    background: #A8CF45;
    width: 84%;
    text-align: right;
    height: 25px;
    z-index: 5;
}*/
.navbar-toggler{
	background: transparent;
	margin: 5px;
	color: #fff !important;
	border: 0;
}
.nav-h{
	position: absolute;
	top: 0;
	right: 0;
	background: #A8CF45;
	width: 73%;
	text-align: right;
	height: 19%;
	z-index: 4;
}
.nav-h .navbar-light .navbar-nav .nav-link{
	color: #114939;
	padding: .25em;
}
.nav-h nav{
	padding:0;
	display: inline-block;
	margin: 0 -0.26%;
	min-height:  20px;
}
.buscador{
	position: absolute;
	right: 1%;
	z-index: 0;
	top: 5px;
} /*10px*/
.cont-nav-p{
	background-color: #408C4C;
	/* padding: 0 10%; */
	/* padding-bottom: 16px; */
}
.cont-nav-p .navbar{
	padding: 0px !important;
	min-height: 35px; /*50px*/
	margin: 0;
}

nav.navbar .container-fluid {padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;}
.cont-nav-p  .navbar-nav .nav-link{
	color:#fff ;
}
.cont-nav-p  .navbar-nav, .cont-nav-p  .navbar-nav .nav-link {
	border-bottom: 2px solid #408C4C;
	font-size: 14px;
	text-transform: uppercase;
}
/*Agrego JM*/
.navbar-nav .nav-link {
	padding-top: 5px;
    padding-bottom: 5px;
}
/*Agrego JM*/
.cont-nav-p  .navbar-nav .active, .cont-nav-p .navbar-nav .nav-link:hover{
	background:#379e4b;
	border-bottom: 2px solid #99ff00;
}
.contain-jsoft{
	display: block;
	margin: 20px auto;
	padding: 10px 10%;
	text-align: center;
	position: relative; /*mod*/
}
.contain-jsoft .item{
	max-width: 100px;
	display: inline-block;
	vertical-align: top;
	margin: 0 60px;
	position: relative;
}
.contain-jsoft .item h3{
	font-weight:bold;
	margin-top: 5px;
    margin-bottom: 5px;
}
.contain-jsoft .item a span{
	position: absolute;
	color: #000;
	left: 0;
	width: 100%;
	text-align: center;
	top: 27%;
	font-size: 1.2em;
}

.contain-jsoft .item:hover a span{
	top: 20%;
    font-size: 2em;
}
.contain-jsoft .item:hover img{
	box-shadow: 0px 0px 45px 5px rgba(0, 0, 0, 0.81);
	border-radius:5em;
}
.contain-jsoft .item:hover h3{
	color:#ffffff;
}
footer{
	display: block;
	text-align: center;
	background: #4b4b4d;
	/*margin-top: 10px;*/
	border-top: 4px solid #A8CF45;
}
.f-inst{
	display: inline-block;
	max-width: 420px;
}
.containt-p{
	margin-top: 20px;
}

.noticia-fecha{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,.6);
	padding: .5em;
	color: #fff;
	font-size: 1.2em;
	margin: 0;
}
.noticia-title{
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
	color: #fff;
	padding: .5em;
	font-size: 1.8em;
}
.cont-otras-noticias{
	background: #003333;
	color: #FFF;
}
.item-otra-noticia{
    padding: .5em;
    padding-left: 1em;
    font-size: .9em !important;
    border-bottom: 1px solid #042424;
}
.item-otra-noticia h3 p{
	margin-bottom:5px;
}
.item-otra-noticia h3{
	font-size: 1em;
}
.img-fluid{
	width: 100% !important;
	/* max-height: 300px; */
}
.col{
	padding: 0;
}
.cont-otca{
	background: url(../img/frontend/bg-contador.png);
	background-size: cover;
	background-position: center;
}
.contador-otca{
    position: absolute;
    top: 15%;
    left: 29%;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    transition: transform .2s; /* Animation */
}
.img-contador{
	max-width: 68px;
}
.item-contador:hover .contador-otca{
	font-size:.8em;
	background:#fff;
	padding:.25em;
	max-width:100%;
	width:80%;
	border-radius:.5em;
 	transform: scale(1.1);
}
.item-contador{
	display: block;
	margin:20px;
}
.item-contador h5{
	padding-top:20px;
	font-size:1.1em;
	font-weight:bold;
}
.jsoft-tabs{
	border-bottom: 1px solid  #3C9047;
}
.jsoft-tabs li a.show{
	background: #3C9047;
	color: #fff !important;
}
.jsoft-tabs li a{
	color:#000 !important;
	font-size: 14px;
	padding: .5em;
	text-decoration: none;
	border-radius: 0; /*mod*/
}

.jsoft-tabs li a:hover{
    background: #0d0a078c;
    color: white !important;
    font-weight: bold;
}
.card-title{
	/*padding-top: 10px;*/
	/*font-size: 12px !important;*/
	margin-top: 0;
}

/*#publicacion_relevante, #publicacion_reciente,#evento_interes,#dato_interes, #agenda{
	max-height: 278px;
	overflow-y: auto;
	background: #fff;
}*/
#publicacion_relevante, #publicacion_reciente,#evento_interes,#dato_interes, #agenda{
	max-height: 337px;
	overflow-y: auto;
	background: #fff;
	padding-top: 0px;
	overflow-x: hidden;
}

#agenda span {
    font-size: 15px;
}

#agenda .container {
    width: 100%;
    margin: 0px 0px 0 5px;
    padding-top: 0px;
    margin-bottom: -29px;
    margin-top: -11px;
}
#publicacion_relevante .container:hover,
#publicacion_reciente .container:hover,
#evento_interes .container:hover,
#dato_interes .container:hover, 
#agenda .container:hover{
	background:#d4cfcfc2;
}
.jsoft-cont-tres{
	padding: .5em !important;
}
.bg-verde{
	border-bottom: 1px solid  #386C77 !important;
}
/*.bg-verde li a.show, .verde{
	background: #A8CF45;
}*/
.bg-verde li.active a, .verde,.jsoft-tabs li.active a{
	background: #A8CF45 !important;
	border-radius: 0;
}

.bg-gris{
	border-bottom: 1px solid  #848688 !important;
}
.bg-gris li a.show{
	background:#848688;

}
.fecha-agenda{
	    font-size: 2em;
	    margin: 0;
}
.ic_sociales{
	/*max-width: 50px;*/
}
.ic_sociales img{
	max-width: 40px;
}
/*mod*/
.enlaces-footer{
	color: #fff;
    text-align: left;
    padding-left: 1em;
    padding-right: 1%;
    height: 100%;
    padding-bottom: 20px;
}
.enlaces-footer a{
	font-weight: normal;
	color: #fff;
	text-decoration: none;
	width: 100%;
	padding-bottom:2px; 
	border-bottom: 1px solid;
	display:block;
}
.logo_otca{
	
position: absolute;
	
max-width: 263px;
	
right: 0%;
	
top: 28%;
}
.tit-main{
	color: #fff;
	display: inline-block;
	max-width: 475px;
	text-align: left;
	position: relative;
	z-index: 4;
	margin-top: 50px;
	margin-left: 24%;
	font-size: 31px;
}
.dropdown-menu
{
	font-size: .8em;
    border-radius: 0;
}
.d-md-block{
	background: #0000007a !important;
}
.nav-pills .nav-link{
	padding: 0;
	background-color: none;
	text-decoration: none;
	border-radius: 0;
	color: #fff;
}
.nav-pills .nav-link .active{
	background-color: green;
}
.nav-pills .nav-link:hover{
	background-color: black;
	color: #fff;
}
p{
	margin-bottom: 0;
}
/*
.link-tabs-jsoft{
	color: #000;
	
}*/
.link-tabs-jsoft{
	color: #000;
	padding: 10px;
}
.link-tabs-jsoft:hover{
	text-decoration: none;
	color: #3c763d;
	/* border: 1px solid #3c763da1; */
	/* background: #a8cf457d; */
	/* box-shadow: 0 0 10px black; */
	font-weight: bold;
	/* width: 500px; */
	margin-bottom: -11px;
}

.mas-jsoft{
	display: block;
	padding: .5em;
	margin-top: 19px;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 black;
	background: #b3b5b4;
}
.mas-jsoft:hover{
	color:#fff;
	text-decoration:none;
	background:#9c3 !important;
	
}
.cont-noticia-main{
	max-height: 360px;
}
.cont-img-zoom{
    overflow:hidden;
}

/*.cont-img-zoom:hover .img-zoom {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}*/
    
.img-zoom{
    -webkit-transition:all .9s ease; /* Safari y Chrome */
	-moz-transition:all .9s ease; /* Firefox */
	-o-transition:all .9s ease; /* IE 9 */
	-ms-transition:all .9s ease; /* Opera */
	width:100%;
    height:100%;
}
.tit-float-left-top{
    position: absolute;
    left: 0;
    top: 5px;
    padding: .17em .5em;
    background: #a8cf45;
    border-left: 10px solid #ffffff;
    color: #fff;
    font-size: 1.2em;
    /* border-radius: 0 0 .5em .5em; */
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.38); */
    text-transform: uppercase;
 }




/*Modificado por JMartinez*/
.nav .nav-item .nav-link:focus,
.nav .nav-item .nav-link:hover{
	background-color: #164e3b;
	color: #fefefe;
}
.carousel-indicators {
    z-index: 1 !important;
}
.carousel-indicators li {
    width: 30px;
    height: 3px;
    border: 0px;
    border-radius: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    background-color: rgba(255,255,255,.5);
}
.carousel-indicators .active {
	width: 30px;
    height: 3px;
    border: 0px;
    border-radius: 0px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    background-color: #fff;
}
.carousel .left:hover{
	background: linear-gradient(to right, #0a0a0a, #08080803) !important;
}
.carousel .right:hover{
	background: linear-gradient(to left, #0a0a0a, #08080800) !important;
}
.carousel-caption {
    right: 0%;
    left: 0%;
    width: 100%;
    padding-top: 0px;
}



/*Rodrigo*/
