.back-primary{
    background-color: #373941;
}
.back-primary-dark{
    background-color: #373941;
}
.back-acent{
    background-color: #373941;
}
.back-light{
    background-color: #F2F2F2;
}
.back-white{
    background-color: #FFFFFF;
}
/*text-colors*/
.text-color-white{
	color:#fff;
}

/*display*/
.display-inline{
	display: inline-block;
}
.display-block{
	display: block;
}

/*text-align*/
.text-bold{
	font-weight: bold;
}
.text-align-r{
	text-align: right;	
}
.text-align-l{
	text-align: left;
}
.text-align-c{
	text-align: center;
}

/*border*/

.border-0{
	border:0;
}
.border-t-0{
	border-top: 0 !important;
}
.border-l-0{
	border-left: 0 !important;
}
.border-r-0{
	border-right: 0 !important;
}
.border-b-0{
	border-bottom: 0 !important;
}
.border-1{
	border: 1px solid #e6e6e6;
}
.border-b-1{
	border-bottom: 1px solid #e6e6e6 !important;
}
.border-l-1{
	border-left: 1px solid #e6e6e6 !important;
}
.border-r-1{
	border-right: 1px solid #e6e6e6 !important;
}
.border-t-1{
	border-top: 1px solid #e6e6e6 !important;
}
/*margin*/
.margin-t-10{
	margin-top: 10px;
}
.margin-l-10{
	margin-left: 10px;
}
.margin-r-10{
	margin-right: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-10{
	margin:10px;
}
.margin-0{
	margin: 0;
}

/*padding*/
.padding-0{
	padding: 0 !important;
}
.padding-5{
	padding:5px !important;
}
.padding-10{
	padding:10px !important;
}
.padding-t-10{
	padding-top: 10px !important;
}
.padding-t-20{
	padding-top: 20px !important;
}
/*font-size*/
.f-z-10{
	font-size: 10px !important;
}
.f-z-12{
	font-size: 12px !important;
}
.f-z-14{
	font-size: 14px !important;
}
.f-z-16{
	font-size: 16px !important;
}
.f-z-18{
	font-size: 18px !important;
}

/*height*/
.min-height-20{
	min-height: 20px !important;
}
.min-height-50vh{
	min-height: 50vh;
}
.min-height-100-vh{
	/*min-height: 100vh;*/
	min-height: 620px;
}
.max-height-60{
	max-height: 60px;
}
.max-height-100{
	max-height: 100px;
}

/*width*/
.max-width-100{
	max-width: 100px !important;
}


/*scrollbar*/

    
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(40, 78, 2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.29); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(144, 204, 17, 0.4); 
}