@media (max-width:990px){
	.logo{
		max-width: 120px;
	}
	.texto-header h2{
	font-size: 20px;
	}
	header.active h2.tit-main{
		
left: 24%;
		
font-size: 14px;
		
max-width: 287px;
		
top: 0;
	}
	.tit-main{
		    color: #fff;
    display: inline-block;
    max-width: 303px;
    text-align: left;
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-left: 29%;
    font-size: 17px;
	}

	.logo_otca {
	    position: absolute;
	    max-width: 128px;
	    right: 1%;
	    top: 35%;
	}

	.cont-nav-p .navbar-nav, .cont-nav-p .navbar-nav .nav-link {
	    border-bottom: 2px solid #408C4C;
	    font-size: 10px;
	    text-transform: uppercase;
	    padding: .5em;
	}
	.cont-nav-p .navbar{
		min-height: 0;
	}

	header.active{
		    max-width: 735px;
	}
	header.active .logo{
		max-width: 100px;
	}
	header.active .nav-h{
	
	}
	.active-nav{
		max-width: 735px;
		width: 100%;
	}
	.contain-jsoft{
		width: 735px;
	}
	.contain-jsoft .item {   
    	margin: 0 30px;  
	}
	.contador-otca{
		top: 15%;
    left: 34%;
	}
	.item-contador:hover .contador-otca{
    	max-width: 42%;
	}

	.enlaces-footer{
	
    height: 40vh;
}

}

@media (max-width:765px){
	.logo{
		max-width: 120px;
	}

	header.active h2.tit-main{
	
max-width: 76%;
	
left: 17%;
	
top: 5px;
}

	h2..tit-main{
		    color: #fff;
    display: inline-block;
    max-width: 303px;
    text-align: left;
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-left: 29%;
    font-size: 17px;
	}

	.buscador{
		right:20px; top: -30px;
	}

	.logo_otca {
	    position: absolute;
	    max-width: 128px;
	    right: 1%;
	    top: 35%;
	}
	.nav-h{
		height: 25px;
	}
	.nav-h nav{
		    padding: 0;
    margin-top: -12px;
	}
	.nav-h nav .navbar-collapse{
		background: rgb(168, 207, 69);
	    z-index: 112;
	    position: relative;
	    top: -13px;
	    width: 100px;
	}
		.cont-nav-p .navbar-nav, .cont-nav-p .navbar-nav .nav-link {
	    border-bottom: 2px solid #408C4C;
	    font-size: 10px;
	    text-transform: uppercase;
	    padding: .5em;
	}
	.cont-nav-p .navbar{
		min-height: 0;
	}

	header.active{
		    max-width: 735px;
	}
	header.active .logo{
		max-width: 106px;
	}
	header.active .nav-h{
	
	}
	.texto-header h2{
	font-size: 17px;
	}
	.active-nav{
	top:25px;
	}
	.contain-jsoft{
		width: 735px;
	}
	.contain-jsoft .item {   
    	margin: 0 30px;  
	}
	.contador-otca{
		top: 15%;
    left: 34%;
	}
	.item-contador:hover .contador-otca{
    	max-width: 42%;
	}

	.enlaces-footer{
	
    height: 70vh;
}

}


@media (max-width:550px){
	.container{
		/* margin:0; */
		padding:0;
	}
	.row{
		margin:0;
		
	}

	.texto-header{
		display: none
	}
		header.active h2.tit-main{
			display: none;
		}
	.logo{
		max-width: 79px;
		top: 20px;
	}
	.tit-main{
		    color: #fff;
    display: inline-block;
    max-width: 250px;
    text-align: left;
    position: relative;
    z-index: 1;
    margin-top: 35px;
    margin-left: 29%;
    font-size: 17px;
	}

	.logo_otca {
	    position: absolute;
	    max-width: 128px;
	    right: 1%;
	    top: 35%;
	}
	.nav-h{
		height: 25px;
		width: 78%;
	}
	.nav-h nav{
		    padding: 0;
    margin-top: -12px;
	}
	.nav-h nav .navbar-collapse{
		background: rgb(168, 207, 69);
	    z-index: 112;
	    position: relative;
	    top: -13px;
	    width: 100px;
	}
		.cont-nav-p .navbar-nav, .cont-nav-p .navbar-nav .nav-link {
	    border-bottom: 2px solid #408C4C;
	    font-size: 10px;
	    text-transform: uppercase;
	    padding: .5em;
	}
	.cont-nav-p .navbar{
		min-height: 0;
	}

	header.active{
		    max-width: 735px;
	}
	header.active .logo{
		max-width: 106px;
		top: 0;
	}
	.buscador{
		right:20px; top: -30px;
	}
	header.active .nav-h{
	
	}
	.active-nav{
	top:25px;
	}
	.contain-jsoft{
		width: 100%;
	}
	.contain-jsoft .item {
    	margin: 0 30px;
    	max-width: 55px;
    	margin-top: 40px;
 }
 .contain-jsoft .item a span{
 	
top: 20%;
 }
	.contador-otca{
		top: 15%;
    left: 34%;
	}
	.item-contador:hover .contador-otca{
    	max-width: 42%;
	}

	.enlaces-footer{
	
    height: 90vh;
}

}