/libs/nodejs_pric/node_modules/*
/tmp/*
.tmp/*
/tmp/*/*
/files/*
/public/ckeditor/kcfinder/upload/*
/application/Config.php
.application/Config.php
application/Config.php
./phpintel
.phpintel
/templates_c
/vendor/*
/config/app.php
/libs/vendor/dompdf/dompdf/lib/fonts/
libs/vendor/dompdf/dompdf/lib/fonts/

/libs/nodejs_pric/node_modules/*
.libs/nodejs_pric/node_modules/*

/libs/vendor/sabberworm/php-css-parser/tests

/lang/*
/lenguaje/*




