<div class="col-lg-12 chat-item-content" style="position: relative;">
	<div class="chat-item-left"></div>
	<div class="chat-item">

		<div class="dropdown dropdown-right">
				<div class="btn btn-default dropdown-toggle" class="opciones" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true" style="background-color: white; border: none">
						<span class="caret"></span>
				</div>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#" class="btnOpcionEliminar" tag="">Eliminar</a></li>
				</ul>
		</div>

		<div class="chat-item-usuario" tag=""></div>
		<div id="chat-item-mensaje"></div>
		<div id="chat-item-fecha"></div>
	</div>
</div>
