<div class="col-lg-12 chat-item-content" style="position: relative;">
	<div class="chat-item-right"></div>
	<div class="chat-item pull-right" tag="" style="background-color: #DCF9BF; border: 1px solid #DCF9BF">

			<div class="dropdown">
					<div class="btn btn-default dropdown-toggle" class="opciones" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true" style="background-color: #DCF9BF; border: none">
							<span class="caret"></span>
					</div>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#" class="btnOpcionEliminar" tag="">Eliminar</a></li>
					</ul>
			</div>

			<div class="chat-item-usuario"></div>
			<div id="chat-item-mensaje"></div>
			<div id="chat-item-fecha"></div>
	</div>
</div>
