#chat-base-leccion #chat-container{
  font-size:12px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 300px;
  height: 550px;
  background-color: white;
  z-index: 4000;
  border-radius: 4px 4px 0 0;
  border: 1px solid gray;
}

#chat-base-leccion #chat-header{
  background-color: #6BA740;
  width: 100%;
  height: 28px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 1.1em;
  padding: 3px 5px 0 5px;
  position: relative;
}

#chat-base-leccion #btnMinin{
  /* border: 1px solid gray; */
  background-color: transparent;
  padding: 3px;
  cursor: pointer;
  float: right;
  line-height: 1em;
  border-radius: 10px;
}

#chat-base-leccion .btnMinin-btn:hover{
  opacity: 0.6;
}

#chat-base-leccion #chat-body{
  position: relative;
}


#chat-base-leccion #chat-text-body{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 45px;
  background-color: #e0e0de;
  padding: 6px 4px 4px 4px;
  display: flex;
}


#chat-base-leccion #chat-text-input{
  width: 100%;
  height: 30px;
  /* position: absolute; */
  border: none;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 6px;
}

#chat-base-leccion #chat-text-send{
  /* position: absolute; */
  /* right: 3px; */
  border: 0px;
  border-radius: 30px;
  background: white;
  height: 30px;
  font-size: 1em;
  padding: 9px;
}

#chat-base-leccion #chat-msn-body-usuarios{
  width: 100%;
  height: 510px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  position:relative;
  flex-direction: column;
  overflow-y:scroll;
}

#chat-base-leccion #chat-msn-body-usuarios .content-msn{
  padding:4px;
}

#chat-base-leccion #chat-msn-body-usuarios .mensaje-me{
  display:flex;
  background-color:white;
  border-radius: 4px;
}

#chat-base-leccion #chat-msn-body{
  width: 100%;
  height: 476px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}


#chat-base-leccion #chat-msn-body .mensaje-me{
  background-color: white;
  width: 80%;
  margin-right: 18px;
  border-radius: 4px 0px 4px 4px;
  float:right;
  margin-top:4px;
  display:flex;
}

#chat-base-leccion #chat-msn-body .mensaje-other{
  background-color: whitesmoke;
  width: 80%;
  border-radius: 4px;
  float:left;
  margin-top:4px;
  margin-left:16px;
  display:flex;
}

#chat-base-leccion #chat-msn-body .mensaje-other:before{
    height: 40px;
    content:"";
    top: 9px;
    left:2px;
    position:absolute;
    border-top: 0 solid #f5f5f5;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top-width: 10px;
    border-left-width: 15px;

}
#chat-base-leccion #chat-msn-body .mensaje-me:after{
    content:"";
    position: absolute;
    right: 3px;
    border-style: solid;
    border-width: 12px 15px 0 0;
    border-color: white transparent transparent transparent;
}

#chat-base-leccion .content-msn{
  width: 100%;
  position: relative;
}

#chat-base-leccion .avatar{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
}

#chat-base-leccion .img-circle-msn{
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

#chat-base-leccion .mensaje-chat-text{
  width: 100%;
  padding: 3px 3px 1px 3px;
  display: inline-block;
}
#chat-base-leccion .mensaje-chat-text .sujeto-link  {
  display: flex;
}
#chat-base-leccion .mensaje-chat-text .sujeto-link strong {
  padding:6px 6px;
}

#chat-base-leccion p.p-mensaje {
  padding: 6px 4px;
  margin:0px 0px 2px 0px;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}
#chat-derecha-leccion {
  display:grid;
  height:100%;
}

#chat-derecha-leccion #chat-container{
  font-size:12px;
  /* position: fixed; */
  /* bottom: 0px; */
  /* right: 20px; */
  /* width: 300px; */
  height: 100%;
  background-color: red;
/*   padding:4px; */
  display:grid;
  grid-template-rows: 30px auto; 
  /* z-index: 4000; */
  /* border-radius: 4px 4px 0 0; */
  /* border: 1px solid gray; */
}
#chat-derecha-leccion #chat-container .chat-body {
  display: grid;
  grid-template-rows: auto 45px;
  background-color:green;
/*   padding:4px; */
}
#chat-derecha-leccion #chat-header{
  background-color: #6BA740;
  width: 100%;
  height: 30px;
/*   border-radius: 4px 4px 0 0; */
  border-bottom: 1px solid gray;
  color: white;
  font-size: 1.1em;
  padding: 3px 5px 0 5px;
  position: relative;
}

#chat-derecha-leccion #btnMinin{
  /* border: 1px solid gray; */
  background-color: transparent;
  padding: 3px;
  cursor: pointer;
  /* float: right; */
  line-height: 1em;
  border-radius: 10px;
}

#chat-derecha-leccion .btnMinin-btn:hover{
  opacity: 0.6;
}

#chat-derecha-leccion #chat-body{
  position: relative;
  
}


#chat-derecha-leccion #chat-text-body{
  width: 100%;
  /* height: 45px; */
  background-color: #e0e0de;
/*   background-color:rgba(10,200,100,0.7); */
  padding: 6px 4px 4px 4px;
  display: flex;
}


#chat-derecha-leccion #chat-text-input{
  width: 100%;
  height: 30px;
  /* position: absolute; */
  border: none;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 6px;
}

#chat-derecha-leccion #chat-text-send{
  /* position: absolute; */
  /* right: 3px; */
  border: 0px;
  border-radius: 30px;
  background: white;
  height: 30px;
  font-size: 1em;
  padding: 9px;
}

#chat-derecha-leccion #chat-msn-body-usuarios{
  width: 100%;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  position:relative;
  flex-direction: column;
  overflow-y:scroll;
  grid-row: 1/3;
}

#chat-derecha-leccion #chat-msn-body-usuarios .content-msn{
  padding:4px;
}

#chat-derecha-leccion #chat-msn-body-usuarios .mensaje-me{
  display:flex;
  background-color:white;
  border-radius: 4px;
}

#chat-derecha-leccion #chat-msn-body{
  width: 100%;
  height:0px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}


#chat-derecha-leccion #chat-msn-body .mensaje-me{
  background-color: white;
  width: 80%;
  margin-right: 18px;
  border-radius: 4px 0px 4px 4px;
  float:right;
  margin-top:4px;
  display:flex;
}

#chat-derecha-leccion #chat-msn-body .mensaje-other{
  background-color: whitesmoke;
  width: 80%;
  border-radius: 4px;
  float:left;
  margin-top:4px;
  margin-left:16px;
  display:flex;
}

#chat-derecha-leccion #chat-msn-body .mensaje-other:before{
    height: 40px;
    content:"";
    top: 9px;
    left:2px;
    position:absolute;
    border-top: 0 solid #f5f5f5;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top-width: 10px;
    border-left-width: 15px;

}
#chat-derecha-leccion #chat-msn-body .mensaje-me:after{
    content:"";
    position: absolute;
    right: 3px;
    border-style: solid;
    border-width: 12px 15px 0 0;
    border-color: white transparent transparent transparent;
}

#chat-derecha-leccion .content-msn{
  width: 100%;
  position: relative;
}

#chat-derecha-leccion .avatar{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
}

#chat-derecha-leccion #chat-msn-body-usuarios .avatar{
  /* width: 30px; */
  height: 20px;
  margin: 0px 5px 0px 5px;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
}

#chat-derecha-leccion .img-circle-msn{
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

#chat-derecha-leccion .mensaje-chat-text{
  width: 100%;
  padding: 3px 3px 1px 3px;
  display: inline-block;
}
#chat-derecha-leccion .mensaje-chat-text .sujeto-link  {
  display: flex;
}
#chat-derecha-leccion .mensaje-chat-text .sujeto-link strong {
  padding:6px 6px;
}
#chat-derecha-leccion #chat-msn-body-usuarios .mensaje-chat-text .sujeto-link strong {
  padding: 4px 6px 0px 6px;
}
#chat-derecha-leccion #chat-msn-body-usuarios .content-msn .mensaje-me {
  display:flex;
  
}
#chat-derecha-leccion #chat-msn-body-usuarios .content-msn .mensaje-me .option_supervisor {
  
margin: 0px 5px 0px 5px;
  
display: inline-block;
  
text-align: center;
  
font-size: 1.5em;
  
vertical-align: middle;
  
align-items: center;
  
align-content: center;
  
line-height: 2.6em;
}

#chat-derecha-leccion p.p-mensaje {
  padding: 6px 4px;
  margin:0px 0px 2px 0px;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}


.mensaje-me p.p-time {
  padding: 2px 4px;
  margin:0px 0px 2px 0px;
  text-align: right;
}
.mensaje-other p.p-time {
  padding: 0px 6px;
  margin:0px 0px 2px 0px;
  text-align: left;
}

#chat-base-leccion #chat-msn-body-usuarios p.p-time {
  padding: 0px 6px;
  margin: 0px;
  float:right;
}

#chat-base-leccion #btnMinin_Close {

margin: 0px;
}
#chat-base-leccion span.name-chat {
    line-height: 1.8em;

}




/*EN ESPERA*/

#chat-base-espera #chat-container{
  font-size:12px;
  z-index: 4000;
}

#chat-base-espera #chat-header{display: none;}

#chat-base-espera #btnMinin{
  /* border: 1px solid gray; */
  background-color: transparent;
  padding: 3px;
  cursor: pointer;
  float: right;
  line-height: 1em;
  border-radius: 10px;
}

#chat-base-espera .btnMinin-btn:hover{
  opacity: 0.6;
}

#chat-base-espera #chat-body{
  position: relative;
}


#chat-base-espera #chat-text-body{
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
  height: 45px;
  background-color: #e0e0de;
  padding: 6px 4px 4px 4px;
  display: flex;
  flex-basis: 100%;
}


#chat-base-espera #chat-text-input{
  width: 100%;
  height: 30px;
  /* position: absolute; */
  border: none;
  border-radius: 4px;
  padding: 2px 10px;
  margin-right: 6px;
}

#chat-base-espera #chat-text-send{
  /* position: absolute; */
  /* right: 3px; */
  border: 0px;
  border-radius: 30px;
  background: white;
  height: 30px;
  font-size: 1em;
  padding: 9px;
}

#chat-base-espera #chat-msn-body-usuarios{
  width: 250px;
  height: 470px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  position:relative;
  flex-direction: column;
  overflow-y:scroll;
}

#chat-base-espera #chat-msn-body-usuarios .content-msn{
  padding:4px;
}

#chat-base-espera #chat-msn-body-usuarios .mensaje-me{
  display:flex;
  background-color:white;
  border-radius: 4px;
}

#chat-base-espera #chat-msn-body{
  height: 470px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}


#chat-base-espera #chat-msn-body .mensaje-me{
  background-color: white;
  width: 400px;
  margin-right: 18px;
  border-radius: 4px 0px 4px 4px;
  float:right;
  margin-top:4px;
  display:flex;
}

#chat-base-espera #chat-msn-body .mensaje-other{
  background-color: whitesmoke;
  width: 400px;
  border-radius: 4px;
  float:left;
  margin-top:4px;
  margin-left:16px;
  display:flex;
}

#chat-base-espera #chat-msn-body .mensaje-other:before{
    height: 40px;
    content:"";
    top: 9px;
    left:2px;
    position:absolute;
    border-top: 0 solid #f5f5f5;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top-width: 10px;
    border-left-width: 15px;

}
#chat-base-espera #chat-msn-body .mensaje-me:after{
    content:"";
    position: absolute;
    right: 3px;
    border-style: solid;
    border-width: 12px 15px 0 0;
    border-color: white transparent transparent transparent;
}

#chat-base-espera .content-msn{
  width: 100%;
  position: relative;
}

#chat-base-espera .avatar{
  width: 30px;
  height: 30px;
  margin: 5px;
  display: inline-block;
}

#chat-base-espera .img-circle-msn{
  width: 30px;
  height: 30px;
  background-color: gray;
  border-radius: 50%;
}

#chat-base-espera .mensaje-chat-text{
  width: 100%;
  padding: 3px 3px 1px 3px;
  display: inline-block;
}
#chat-base-espera .mensaje-chat-text .sujeto-link  {
  display: flex;
}
#chat-base-espera .mensaje-chat-text .sujeto-link strong {
  padding:6px 6px;
}
#chat-base-espera p.p-mensaje {
  padding: 6px 4px;
  margin:0px 0px 2px 0px;
  text-align: left;
  width: 100%;
  overflow-wrap: break-word;
}
#chat-base-espera p.p-time {
  padding: 0px 6px;
  margin: 0px 0px 2px 0px;
  text-align: right;
}

#chat-base-espera #chat-msn-body-usuarios p.p-time {
  padding: 0px 6px;
  margin: 0px;
  float:right;
}

#chat-base-espera #btnMinin_Close {

margin: 0px;
}
#chat-base-espera span.name-chat {
    line-height: 1.8em;

}

#chat-base-espera .chat-body {
  display: flex;
  flex-wrap: wrap;
}