.no-seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cursor-helper {
  background-color: blue;
  border: 1px solid #90A4AE;
  border-style: dashed;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: 11;
}

#micanvas {
  display: inline-block;
  /*border: 1px solid black;*/
  /*position: absolute;
top: 0px;
left: 0px;*/
  /*z-index: 10;*/
}

#marcador {
  width: 100px;
  height: auto;
  background: red;
  border-radius: 2px 10px 10px 2px;
  text-align: right;
  padding: 3px 10px 3px 0;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  z-index: 20;
}

#texto-helper {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#back-texto {
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9900;
}

#borrador-helper {
  display: none;
  border: 1px solid black;
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#herramientas-canvas {
  width: 30px;
  position: absolute;
  /*   background:rgba(10,23,50,0.2); */
  padding: 0px 0px 0px 4px;
  z-index: 1;
  display: flex;
  height: 100%;
  align-items: center;
}

#herramientas-canvas button {


  height: 30px;
  width: 30px;
  border: 1px solid black;
  background: #f9e7e7;
  margin: 0px;
  padding: 0px;


}

#herramientas-canvas button.toolscanvas:first-child {
  border-radius: 0px 10px 0px 0px;
}

#herramientas-canvas button.toolscanvas:nth-child(8) {
  border-radius: 0px 0px 10px 0px;
}

#herramientas-canvas button.toolscanvas:last-child {
  border-radius: 0px 0px 10px 0px;
}

#herramientas-canvas button#btn_show_tool {
  height: 50px;
  width: 15px;
  border-radius: 0px 10px 10px 0px;
}

.btnHerramienta {
  width: 50px;
  height: 30px;
  margin-bottom: 3px;
  /* float: left; */
  display: inline-block;
}

#hiddenGrosor {
  width: 30px;
  text-align: right;
  padding-right: 3px;
}

#hiddenFuente {
  width: 30px;
  text-align: right;
  padding-right: 3px;
}

#hiddenColor {
  width: 60px;
  text-align: right;
  padding-right: 3px;
}

#iHiddenFuente {
  width: 100px;
}

#iHiddenGrosor {
  width: 100px;
}

#icon-conectado {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: gray;
  margin-left: 10px;
}

#mouse-helper {
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3000;
}

#panel-pizarra-final {
  position: relative;
  display: inline-block;
  margin: 4px 0px 4px 0px;
  /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0px solid #ddd;
  border-right: 0px solid #ddd; */

  /*height: 400px;
width: 700px;*/
}

.img-pizarra-mini {
  width: 100px;
  height: 100px;
}

.pizarra-fondo-item {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 1;
}


#The_colorPicker {
  z-index: 1000;
}

.contenedor-mini-pizarras {
  /* overflow-x: scroll; */
  /* height: 400px; */
  /* position: relative; */
  /* right: 0px; */
  /* top: 0px; */
  display: block;
  overflow-y: auto;
}

.pizarra-mini {
  display: inline-block;
  width: auto;
  /* float: left; */
  margin: 5px;
}

/* .label_options_object { */
/*width: 90px;*/
/* } */

.item-pizarra {
  border: 2px solid black;
  position: relative;
  width: 100%;
}

.item-pizarra img {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.panel-item-pizarra {
  width: 100%;
  display: inline-block;
}

.item-pizarra .number_pizarra {
  position: absolute;
  /*background: rgba(100,100,100,0.2);*/
  width: 100%;
  height: 100%;
  top: 0px;
  vertical-align: middle;
  text-align: center;
  line-height: 121px;
  font-size: 5em;
}


@media (min-width: 768px) {
  .panel-item-pizarra {
    width: 159px;
  }

  .item-pizarra {
    width: 157px;
  }
}

@media (min-width: 992px) {
  .panel-item-pizarra {
    width: 206px;
  }

  .item-pizarra {
    width: 204px;
  }
}

@media (min-width: 1200px) {
  .panel-item-pizarra {
    width: 191px;
  }

  .item-pizarra {
    width: 189px;
  }
}


/* .container-chat-pizarra {


  padding: 0px;
} */

.container-chat-pizarra .nav {

  display: grid;

  grid-template-columns: auto auto;

  /* background: red; */

  /* margin: 4px; */

  padding: 0px;
}

/* .container-chat-pizarra .tab-content #chat-panel {} */

.container-chat-pizarra .tab-content #pizarra-panel {
  padding: 1em;
  overflow-y: scroll;
}

/* .container-chat-pizarra .nav li{

} */
/* .container-chat-pizarra .nav li:hover {

} */
.container-chat-pizarra .nav li:nth-child(1) {
  grid-column: 1/2
}

.container-chat-pizarra .nav li:nth-child(2) {
  grid-column: 2/3;
}

.container-chat-pizarra .nav li a {
  margin: 0px;
  border-radius: 0px
}

/* .container-chat-pizarra .nav li a:hover {

} */


#opciones_canvas {
  /*   background:red; */
  border:1 solid black;
  height: 60px;
  overflow-y:hidden;
  text-align: center;
  }
  #opciones_canvas{
  /*   background:green; */
    font-size:12px
  }
  
  #opciones_canvas .tool-option {
    background: #e8e8e8;
    border: 1px solid #9a9a9a;
    display:inline-flex;
    padding:0px;
    height:30px;
  }
  
  #opciones_canvas .tool-option label {
    padding:0px 6px;
    
    line-height:28px;
    width:50px
    height:100%;
  }
  #opciones_canvas .tool-option div {
    padding:0px;
    width:40px;
    height:28px;
  }
  #opciones_canvas .tool-option div * {

    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    border:0px solid black;
  }
  #opciones_canvas .tool-option div input{
    padding:0px 2px;

  }
  #opciones_canvas .tool-option.tool-option-color-border div input, #opciones_canvas .tool-option.tool-option-color-relleno div input {
    background: #e8e8e8;
  }
  #opciones_canvas .tool-option.tool-option-texto div {
    width: 120px;
  
  }
  
  
  
#herramientas-canvas_v2 button.toolscanvas {
  background: #e8e8e8;
  border: 1px solid #9a9a9a;
}

#herramientas-canvas_v2 {
  text-align: center;
  margin-bottom: 4px;
}
.canvas-ssss {
  border: 1px solid #ddd;
  margin-bottom: 4px;
}