.ficha-leccion{
  background-color: #aac0ff;
  margin-top: 5px;
  border-radius: 5px;
  padding: 15px;
  color: #393939;
  position: relative;

}

.lec-lms-activo{
  border: 1px solid #607D8B !important;
  color: #263238 !important;
}

.tag-terminado{
  padding: 5px 15px;
  background: #EF5350;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

.tag-terminado:hover{
  padding: 5px 15px;
  background: #bb403e;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

.tag-terminado:active{
  padding: 5px 15px;
  background: #bb403e;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  color: white;
  border-radius: 5px;
  -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.6);
}

.pendiente{
  background: gray !important;
}
