.curso-item{
  height: 500px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  position: relative;
}

.btn-ficha{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn-gestion{
    position: absolute;
    /*top: 0px;
    left: 0px;*/
    font-size: 20px;
    float: left;
    z-index: 1;
}

.btn-anuncios{
  position: absolute;
  bottom: -10px;
  right: 0px;
}

.curso-item-title{
  /* position: absolute; */
  /*bottom: 170px;
  left: 10px;
  width: 80%;
  padding: 0 0 0 10px;
  font-weight: 560;*/
  color: #393939;
}

.curso-item-desc{
  /* position: absolute; */
  /* top: 288px; */
  color: #393939;
  text-align: justify;

  padding: 6px 0px;

  /*margin-bottom: 10px;*/

}

.curso-item-img{
  height: 230px;
  width: 100%;
}

.curso-item-mod{
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  color: white;
  border-radius: 0px 0px 0px 20px;
}

.mooc{
  background: #EF5350;
}

.lms{
  background: #2196F3;
}
.pres {
   background: #009640;
}

.curso-item-lms-tab{
  /* position: absolute; */
  /* top: 370px; */
  /* left: 10px; */
  color: #393939;
  padding-top: 10px;
}

/*Jmartinez*/
@media (max-width: 991px){
    #div-margin-t-10{
        margin-top: 10px
    }
}
