.cursos-hr{
    padding: 0.2px;
    margin-top: 2px;
}
.cursos-hr2{
    padding: 0.2px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.regresar-tematica{
	background-color: #777;
	color: white;
	padding: 5px;
	border-radius:5px;
	font-size: 12px;
}
.regresar-tematica:hover{
	color: white;
}
.p-rt-lt-0{
	padding-right: 0px;
	padding-left: 0px;
}
.titulo-ficha{
	text-transform: uppercase;
}
.btn-comentar{
	position: relative;
	left: 40px;
	background-color: #777;
	color: white;
	border-color: #777;
	margin-bottom: 5px;
}
.btn-comentar:hover{
	background-color: #fff !important;
	color: #777;
	border-color: #777;
}
.btn-like{
	background-color: #4C9942;
	color: white;
	border-color: #4C9942;
	margin-bottom: 5px;
}
.btn-like:hover{
	background-color: #fff !important;
	color: #4C9942;
	border-color: #4C9942;
}
.participantes{

}
.contribucion{}
.anuncio{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
    background: #FFDD4D66;
    padding: 10px 15px;
    font-size: 14px;
    margin-bottom: 10px;
}
.ini-sesion{
    color: #FFF;
    position: relative;
    padding: 10px 40px;
    margin: 20px auto;
    left: 35%;
}
.estilo-textarea{
    resize: vertical;
    max-height: 150px;
    min-height: 100px;
}
.etiqueta{
	font-family: 'Gill Sans MT';
	font-size: 20px;
}
.tit-integrante{
	padding: 5px 5px 5px 10px;
	background: #777;
	color: #fff;
	border-left: 4px solid #8BC34A;
	font-weight: normal;
}
.underline{
	color: #000;
}
.underline:hover{
	text-decoration: underline;
	color: #000;
}
.file_titulo2{
	color: #000;
}