.titulo{
	margin-top: 10px !important;
}
th{
	font-size: 18px;
	font-family: 'Lucida Sans';
}
.link-foro{
	color: #222;
}
.link-foro:hover{
	color: #222;
	text-decoration: underline;
}
.reporte{
	
}
.reporte:hover{
	text-decoration: underline;
}
.cursos-hr-title-foro{
    margin-top: 0px;
    padding: 0.2px;
    border-top: 1px solid #3c763d;
}
.p-rt-lt-0{
	padding-right: 0px;
	padding-left: 0px;
}