.titulo{
	margin-top: 10px !important;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Lucida Sans';
	background-color: #525252;
	color: #fff;
}
.link-foro{
	color: #222;
}
.link-foro:hover{
	color: #222;
	text-decoration: underline;
}
.cursos-hr{
    background: #ddd;
    margin-top: 0px;
    padding: 0.2px;
}
.descripcion-foro{
	font-size: 15px;
	padding-top: 10px;
	margin-bottom: 15px;
	text-align: justify;
}
.subtitle-foro{
	font-family: 'Gill Sans MT';
	margin-top: 10px;
}
.contenedor-link-agenda{
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}
.contenedor-link-agenda:hover{
	background-color: #f2f2f2;
	margin-left: 0px;
}
.link-tabs-jsoft{
	border-bottom: none;
	padding: 0px;
	padding-top: 0px !important;
}
.agenda-container{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 500px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.agenda-container:hover{
	
}
.fecha-agenda{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: #386c77;
	color: #fff;
}
.tematica-foro{
	
}
.detalles-tematica{
	padding-bottom: 10px;
        padding-right: 15px;
        margin-right: 0px;
	font-size: 12px;
	border-bottom: 0.2px solid #ddd;
}
.detalles-tematica .col-md-4 + .col-md-6:before{
    content: "\2022";
    font-size: 10px;
    margin: 0 20px;
}
.tem_titulo{
   padding-right: 15px;
}
.item-tematica{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px
}
.detalles-act-reciente{
	padding-bottom: 10px;
	font-size: 12px;
	border-bottom: 0.2px solid #ddd;
}
.discusion{
	border-bottom: 0.2px solid #ddd;
}
.cabecera-discusion{}
.detalles-discusion{
	padding-bottom: 10px;
	font-size: 12px;
}