.titulo{
	margin-top: 10px !important;
}
.link-foro{
	color: #222;
}
.link-foro:hover{
	color: #222;
	text-decoration: underline;
}
.cursos-hr{
    margin-top: 0px;
    padding: 0.2px;
}
.cursos-hr-title-foro{
    margin-top: 0px;
    padding: 0.2px;
    border-top: 1px solid #3c763d;
}
.cursos-hr-title-foro2{
    margin-top: 0px;
    padding: 0.2px;
    border-top: 1px solid #333;
}
.descripcion-foro{
	margin-bottom: 15px;
	text-align: justify;
}
.subtitle-foro{
	margin-top: 10px;
}
.contenedor-link-agenda{
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}
.contenedor-link-agenda:hover{
	background-color: #f2f2f2;
	margin-left: 0px;
}
.link-tabs-jsoft{
	border-bottom: none;
	padding: 0px;
	padding-top: 0px !important;
}
.agenda-container{
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 500px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.agenda-container:hover{
	
}
.fecha-agenda{
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	background-color: #E6E6E5;
	color: #404040;
}
.tematica-foro{
	
}
.detalles-tematica{
	padding-bottom: 10px;
    padding-right: 15px;
    margin-right: 0px;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
.detalles-tematica .col-md-4 + .col-md-6:before{
    content: "\2022";
    font-size: 10px;
    margin: 0 20px;
}
.tem_titulo{
   padding-right: 15px;
}
.item-tematica{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}
.detalles-act-reciente{
	padding-bottom: 10px;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
}
.discusion{
	border-bottom: 0.2px solid #ddd;
}
.cabecera-discusion{}
.detalles-discusion{
	padding-bottom: 10px;
	font-size: 12px;
}
.p-rt-lt-0{
	padding-right: 0px;
	padding-left: 0px;
}
.underline{
	color: #000;
}
.underline:hover{
	text-decoration: underline;
	color: #000;
}
.btn-configuracion {
    width: 35px;
    height: 35px;
    padding: 6px 4px;
    border-radius: 35px;
    font-size: 15px;
    line-height: 1.33;
    border-color: #fff !important;
}
.opciones_foro {
    cursor: pointer;
    color: black;
    padding-right: 0;
    padding: 4px 14px !important;
}

.disable_foro{
	background-color: #fbe4c9 !important;
}

.delete_foro{
	background-color: #fbc9c9 !important;
}