#chat-container{
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 400px;
  height: 550px;
  background-color: white;
  z-index: 4000;
  border-radius: 5px 5px 0 0;
  border: 1px solid gray;
}

#chat-header{
  background-color: #6BA740;
  width: 100%;
  height: 40px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid gray;
  color: white;
  font-size: 18px;
  padding: 5px 5px 0 5px;
  position: relative;
}

#btnMinin{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background-color: red;
  border: 1px solid gray;
  background-color: #ef5350;
  padding: 4px 0 0 4px;
  cursor: pointer;
}

#btnMinin:hover{
  opacity: 0.6;
}

#chat-body{
  position: relative;
}


#chat-text-body{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 45px;
  background-color: #e0e0de;
  padding: 3px;
}


#chat-text-input{
  width: 334px;
  height: 40px;
  position: absolute;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  left: 3px;
  top: 3px;
}

#chat-text-send{
  width: 50px;
  height: 40px;
  position: absolute;
  right: 3px;
  top: 3px;
}

#chat-msn-body{
  width: 100%;
  height: 463px;
  background: #e0e0de;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


.mensaje-me{
  background-color: white;
  width: 85%;
  border-radius: 5px;
  position: relative;
  margin-left: 10%;
  margin-top:4px;
}

.mensaje-other{
  background-color: whitesmoke;
  width: 85%;
  border-radius: 5px;
  position: relative;
  margin-left: 5%;
  margin-top:4px;
}

.mensaje-other:before{
    width: 40px;
    height: 40px;
    content:"";
    top: 9px;
    left:-10px;
    position:relative;
    border-top: 0 solid whitesmoke;
    border-left: 0 solid transparent;
    border-bottom: 0 solid transparent;
    border-right: 0 solid transparent;
    border-top-width: 10px;
    border-left-width: 15px;
}
.mensaje-me:after{
    width: 0;
    height: 0;
    content:"";
    top:0px;
    right:-10px;
    position:absolute;
    border-style: solid;
    border-width: 13px 15px 0 0;
    border-color: white transparent transparent transparent;
}

.content-msn{
  width: 100%;
  position: relative;
}

.avatar{
  width: 50px;
  height: 50px;
  margin: 5px;
  display: inline-block;
}

.img-circle-msn{
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
}

.mensaje-chat-text{
  width: 240px;
  margin: 3px;
  padding: 3px 3px 1px 3px;
  display: inline-block;
}
