#CONTROL_PIZARRA{

}
.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cursor-helper{
  background-color: blue;
  border: 1px solid #90A4AE;
  border-style: dashed;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.2;
}

#micanvas{
  display: inline-block;
  border: 1px solid black;
}

#marcador{
  width: 100px;
  height: auto;
  background: red;
  border-radius: 2px 10px 10px 2px;
  text-align: right;
  padding:3px 10px 3px 0;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#texto-helper{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#back-texto{
  display: none;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9900;
}

#borrador-helper{
  display: none;
  border: 1px solid black;
  background-color: white;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#herramientas-canvas{
  display: inline-block;
  width: 100px;
}

.btnHerramienta{
  width: 50px;
  height: 30px;
  margin-bottom: 3px;
}

#hiddenGrosor{
  width: 30px;
  text-align: right;
  padding-right: 3px;
}

#hiddenFuente{
  width: 30px;
  text-align: right;
  padding-right: 3px;
}

#hiddenColor{
  width: 60px;
  text-align: right;
  padding-right: 3px;
}

#iHiddenFuente{
  width: 100px;
}

#iHiddenGrosor{
  width: 100px;
}

#icon-conectado{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: gray;
  margin-left: 10px;
}

#mouse-helper{
  width: auto;
  height: auto;
  position: absolute;
  top: 0px;
  left: 0px;
}
