.underline:hover{
	text-decoration: underline;
}
.titulo2{
	text-align: left;
}
.cursos-hr{
    margin-top: 0px;
    padding: 0.2px;
}
.p-rt-lt-0{
	padding-right: 0px;
	padding-left: 0px;
}
.busqueda-avanzada{
	background-color: #E8F5E9;
}
.control-label-jp{
	padding-top: 7px;
	margin-bottom: 0;
	text-align: left;
}
.cabecera-resumenes{
	padding: 10px 15px;
	background: #525252;
	border-left: 4px solid #8BC34A;
	color: #fff;
	font-size: 1.1em;
}
.resumen-home{
	border-left: 1px solid #ebeaea;
	padding-left: 10px;
}
.list-group-item-jp{
	position: relative;
	display: block;
	padding: 10px 15px;
	background-color: #fff;
	height: auto;
	color: #000;
	margin-bottom: -11px;
	margin: 0 auto;
}
.padding-li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.padding-li2{
	padding-top: 25px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.badge{
	min-width: 40px !important;
	font-size: 15px !important;
}
.subtitle-resumen{
	text-decoration: none;
	color: #000;
}
.subtitle-resumen:hover{
	text-decoration: none;
	color: #3c763d;
	font-weight: bold;
}
.side-menu{
	border-left: 5px solid #355D3A;
	list-style: none;
    color: #222;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.side-menu:hover{
  	border-left: 5px solid #355D3A;
  	border-bottom: 1px solid #ddd;
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.6);
 }
 .side-menu2 {
    list-style: none;
    color: #222;
    cursor: pointer;
    background-color: #ffffff;
    font-size: 15px;
    text-align: left;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}
.position-badge{
	position: absolute;
	top: 5px;
	right: 5px;
}
.instituciones-paises{
	margin-top:17px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width: 80px;
	border-radius: 5px;
	padding: 10px 0px;
}
.instituciones-paises-color{
	margin-top:17px;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	width: 80px;
	border-radius: 5px;
	padding: 10px 0px;
	background: #40bc4bad;
}
.badge-jp{
	display: inline-block;
	padding: 3px 7px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #fff;
	border-radius: 10px;
	min-width: 40px !important;
	font-size: 15px !important;
}